.titledes p{
	color: #E0131A;
	font-size: 46px;
	font-weight:  300;
	margin-top: 0px;
	margin-bottom: 4%;
}
.titledes span{
	color: #717171;
	font-size: 20px;
	font-weight: 400;
}
.boxdescarga{
	width: 100%;
	font-size: 22px;
	font-weight: 400;
	color: #464646;
	background-color: #F8F8F8;
	margin-bottom: 10%;
	height: 119px;
	border: 1px solid #dfdfdf;
	border-bottom: 3px solid #001D93;
	padding:12px 5% 12px 18%;
	position: relative;
	display: flex;
	align-items: center;
}
.boxdescarga img{
	position: absolute;
	left: 12px;
	top: 16px;
}
.boxdescarga i{
	position: absolute;
	right: 14px;
	top: 39%;
	color: #E1131B;
}